<clr-main-container>
  <clr-header>

    <div class="header-nav" [clr-nav-level]="1">
      <h1>Admin JSTORE</h1>
    </div>

  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <p>Products</p>
    </main>
    <nav class="sidenav" [clr-nav-level]="2">
      <section class="sidenav-content">
        <a href="javascript://" class="nav-link active">
        Products
        </a>
        <a href="javascript://" class="nav-link">
        Orders
        </a>
        <a href="javascript://" class="nav-link">
        Customers
        </a>
        <a href="javascript://" class="nav-link">
        Product Category
        </a>
      </section>
    </nav>
  </div>
</clr-main-container>
